
body {
background: url("") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-size: 1em !important;
   color: #0b978b !important;
   font-family: Arial !important;
  
  

}
