
{% extends "base.html" %}

{% block title %}
	Classification
{% endblock title %}

{% block content %}
    <div class="row justify-content-center mt-5">
        <div class="col-md-5">
            <h2>Disease Description</h2>
        </div>
    </div>
    <div class="row justify-content-center mt-5">
        <div class="col-md-5">
            {% if description %}
                <div class="alert alert-danger" role="alert">
                    <h4> {{ description }} </h4>
                </div>
                <div class="alert alert-success" role="alert">
                    <h4> {{ description_of_crop }} </h4>
                </div>
            {% else %}
			<form method="POST">
                {% csrf_token %}

                <h4> Select Disease name for description </h4>
                <select name="sys" id="sys">
                    {% for crop_name in crop_names %}
                    <option value={{crop_name}}>{{crop_name}}</option>                    
                    {% endfor %}
                </select>
                <br><br>


                
				<button type="submit" class="btn btn-success">Submit</button>
            </form>

            {% endif %}



        </div>
    </div>

{% endblock content %}
